/*
 * Start Bootstrap - Full Slider (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    padding-bottom:160px;
    padding-top:40px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel-indicators {
    padding-bottom:145px;
}

.carousel-caption {
    padding-bottom: 180px;
}

.carousel-control {
    height: -webkit-calc(100% - 120px);
    height:    -moz-calc(100% - 120px);
    height:         calc(100% - 120px);
}

footer {
    margin: 50px 0;
}