html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.btn {
    float: right;
    height: 40%;
}

.my-header {
}

.header-container {
    padding-left: 2em;
}

.page-body {
    height: 90%;
    align-content: center;
}

.finish-title-container {
    padding-top: 1em;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.finish-title-container > .btn {
    display: block;
    margin: 0 auto;
}

.finish-button-container {
    width: 80%;
    height: 16em;
    align-items: center;
    margin: auto;
    padding-top: 2em;
}

.blue-circle-button {
    box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
    border: .5em solid #579EE6;
    font-size: 1em;
    line-height: 1.1em;
    color: #ffffff;
    background-color: #77ACE0;
    border-radius: 50%;
    height: 16em;
    width: 16em;
    margin: 2em auto;
    align-content: center;
    line-height: 15em;
}

.blue-circle-button > p {
    font-size: 20px;
    text-align: center;
}

.blue-circle-button:hover {
    color:#ffffff;
    background-color: #77ACE0;
    text-decoration: none;
    border-color:  #4F8CC9;
}

.my-map {
    height: 70%;
    width: 95%;
    display: block;
    padding: 2em;
    margin: 0 auto;
}

.feedback-form {
    margin: auto;
    padding-top: 2em;
}

.feedback-form >form >textarea {
    width: 100%;
}

.info-entry {
    width: 60%;
    margin: 0 auto;
    display: block;
    padding-left: 2em;
    padding-right: 2em;
}