#queueProgress {
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 30px;
}

#queueBar {
    position: absolute;
    width: 0%;
    height: 100%;
}

#label {
    text-align: right;
    line-height: 30px;
    color: white;
}

hr {
    display: block;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
    border-style: none;
    border-width: 0px;
    border-color: #FFF;
    height: 3px;
    background-color: #FFF;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.centerContent {
    width: 560px;
    height: 280px;
    background-color: #fff;

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}

.buttonColor {
    background-color:rgb(46,117,232);
}

.buttonColor:hover {
    background-color:rgb(46,117,182);
}

.tableCellBlue {
    background-color: #2e75e8;
    color: #FFF;
    border-color: #2e75e8;
}