body {
    background: url(../images/edit-profile.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    width: 400px;
    padding-top: 300px;
}

.a {
    text-align: center;
}