<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Bluebird - Around You</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
            th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" media="screen" />

    <link href="/css/common.css" rel="stylesheet" media="screen"/>
</head>
<body>
    <div class="page-header my-header">
        <div class="header-container">
            <img src="/img/Logo.png"/>
            <a th:href="@{/finish}">
                <div class="btn btn-default btn-lg">Go back</div>
            </a>
        </div>
    </div>


<div class="finish-title-container">
        <h2>Serices Around You</h2>
        <h4>This is a map showing mental health services near you. They might be able to help you even more.</h4>
    </div>
    <div id="map" class="my-map"/>

    <script type="text/javascript" data-th-attr="data-address=${ipAddress}" th:src="@{/js/maps.js}" ></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7APHgH5ZgsltvPBCiTgZkDqHeUW7dUhk&amp;libraries=places&amp;callback=initMap" async="" defer=""></script>
</body>
</html>