<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Feedback Complete</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
            th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" media="screen" />

    <link href="/css/common.css" rel="stylesheet" media="screen"/>
</head>
<body>
    <div class="page-header my-header">
        <div class="header-container">
            <img src="/img/Logo.png"/>
            <a th:href="@{/finish}">
                <div class="btn btn-default btn-lg">Go back</div>
            </a>
        </div>
    </div>

    <div class="finish-title-container">
        <h2>Thanks!</h2>
        <a th:href="@{/finish}">
            <div class="btn btn-default btn-lg">Go back</div>
        </a>
    </div>

</body>
</html>