<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Edit Profile</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../resources/static/css/edit-profile.css" th:href="@{/css/edit-profile.css}" />

</head>
<body>
<div class="container">
    <div class="navbar navbar-fixed-top"
         style="height:40px; background-color: rgb(46,117,232); width:100%; color:white;">
        <p style="text-align:center; padding-top:11px;">
            <span style="float:right; padding-right:11px; font-weight:800; "><a href="/logout" style="color:#FFF; font-size: 18px;">Log Out</a></span>
        </p>
    </div>
</div>

<div class="container">

    <div class="container" style="margin-top: 250px;">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit Profile</h3>
                    </div>
                    <div class="panel-body">
                        <!--<p th:if="${loginError}" style="text-align: center; color: crimson;">Username or Password Incorrect</p>-->
                        <form th:action="@{/edit-profile}" th:object="${staffProfile}" class="form-" method="POST">
                            <fieldset>
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input id="firstName" type="text" name="userName" class="form-control" placeholder="FirstName"
                                           th:value="*{firstName}" required="required" autofocus="autofocus" th:field="*{firstName}"/>
                                </div>
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input id="lastName" type="text" name="password" class="form-control" placeholder="LastName"
                                           th:value="*{lastName}" required="required" th:field="*{lastName}"/>
                                </div>
                                <div class="form-group">
                                    <label for="exampleTextarea">Bio</label>
                                    <textarea class="form-control" th:field="*{bio}" placeholder="Enter your bio" id="exampleTextarea" rows="6"></textarea>
                                </div>
                                <input type="hidden" th:field="*{id}"/>
                                <input type="hidden" th:field="*{tags}"/>
                                <input type="hidden" th:field="*{user}"/>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /container -->

</body>
</html>