<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Feedback</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
            th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" media="screen" />

    <link href="/css/common.css" rel="stylesheet" media="screen"/>
</head>
<body>
    <div class="page-header my-header">
        <div class="header-container">
            <img src="/img/Logo.png"/>
            <a th:href="@{/finish}">
                <div class="btn btn-default btn-lg">Go back</div>
            </a>
        </div>
    </div>

    <div class="page-body">
        <div class="finish-title-container">
            <h2>How did your chat go?</h2>
            <h4>We want to improve this service. Let us know how this chat went.</h4>
        </div>

        <div class="col-md-4"></div>
        <div class="feedback-form col-md-4">
            <form action="#" th:action="@{/finish/feedback}" th:object="${feedback}" method="post">
                    <textarea rows="6" type="text" th:field="*{content}" placeholder="Write your review here" >
                    </textarea>
                <p><input type="submit" value="Submit Feedback" /></p>
            </form>
        </div>
    </div>
</body>
</html>