<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>More information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
            th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" media="screen" />

    <link href="/css/common.css" rel="stylesheet" media="screen"/>
</head>
<body>
    <div class="page-header my-header">
        <div class="header-container">
            <img src="/img/Logo.png"/>
            <a th:href="@{/finish}">
                <div class="btn btn-default btn-lg">Go back</div>
            </a>
        </div>
    </div>

    <div class="page-body">
        <div class="finish-title-container">
            <h2>More information</h2>
        </div>
        <br />
        <div class="info-entry">
            <h4>What is mental health?</h4>
            <p>Good mental health is a sense of wellbeing, confidence and self-esteem. It enables us to fully enjoy and appreciate other people, day-to-day life and our environment. When we are mentally healthy we can:</p>
            <list>
                <li>Form positive relationships</li>
                <li>Use our abilities to reach our potential</li>
                <li>Deal with life’s challenges</li>
            </list>
            <br />
            <h4>What is a mental illness?</h4>
            <p>A mental illness is a health problem that significantly affects how a person thinks, behaves and interacts with other people. It is diagnosed according to standardised criteria.</p>
            <p>One in 5 Australians will suffer from a mental illness in any given year.</p>
            <p>A mental health problem also affects how a person thinks, feels, and behaves, but to a lesser extent than a mental illness.</p>
            <p>Mental illnesses are of different types and degrees of severity.  Some of the major types are:</p>
            <list>
                <li>Anxiety</li>
                <li>Schizeophrenia</li>
                <li>Bipolar mood disorder</li>
                <li>Personality disorders</li>
                <li>Eating disorders</li>
                <li>Depression</li>
            </list>
        </div>
        <br />
        <div class="info-entry table-responsive">
            <h4>Common myths about mental illness</h4>
            <table class="my-table table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Myth</th>
                    <th>Fact</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Mental illness only affects a few people.</td>
                    <td>Mental illness is common. One in five Australians will experience a mental illness. It affects people of all ages, educational and income levels and cultures.</td>
                </tr>
                <tr>
                    <td>Mental illness is caused by a personal weakness.</td>
                    <td>A mental illness is not a character flaw. It is caused by genetic, biological, social and environmental factors. Seeking and accepting help is a sign of strength.</td>
                </tr>
                <tr>
                    <td>People with a mental illness never get better.</td>
                    <td>With the right kind of help, most people do recover and lead healthy, productive and satisfying lives.</td>
                </tr>
                <tr>
                    <td>People with a mental illness can “pull themselves out of it”.</td>
                    <td>A mental illness is not caused by personal weakness and is not “cured” by personal strength.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>