<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Chat finished</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
            th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" media="screen" />

    <link href="/css/common.css" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="page-header my-header">
    <div class="header-container">
        <img src="/img/Logo.png"/>
    </div>
</div>

<div class="page-body">
    <div class="finish-title-container">
        <h2>Your conversation is finished</h2>
        <h4>But your journey doesn't have to be</h4>
    </div>

    <div class="finish-button-container row container">
        <div class="col-md-4">
            <a th:href="@{/finish/contact}">
                <div class="blue-circle-button"><p>Get in contact</p></div>
            </a>
        </div>
        <div class="col-md-4">
            <a th:href="@{/finish/feedback}">
                <div class="blue-circle-button"><p>Feedback</p></div>
            </a>
        </div>
        <div class="col-md-4">
            <a th:href="@{/finish/around-you}">
                <div class="blue-circle-button"><p>Services Around You</p></div>
            </a>
        </div>

        <div class="col-md-2"></div>
        <div class="col-md-4">
            <a th:href="@{/finish/info}">
                <div class="blue-circle-button"><p>More information</p></div>
            </a>
        </div>
        <div class="col-md-4">
            <a th:href="@{/view-staff-profile}">
                <div class="blue-circle-button"><p>Staff Profile</p></div>
            </a>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

</body>
</html>