<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>BlueBird</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/css/queue.css"></link>
</head>
<body>
<div class="container" style="background-color: #fff; width:100%; height:100vh">
    <div class="navbar navbar-fixed-top"
         style="height:40px; background-color: rgb(46,117,232); width:100%; color:white;">
        <p style="text-align:left; padding-left: 12px; padding-top:11px;">
            <a href="/" style="color:#FFF; font-size: 18px;">Back</a>
        </p>
    </div>
    <div class="row" style="padding-top: 60px;"/>
    <div class="row centerContent">
        <form th:action="@{/queue/join}" method="post" enctype="multipart/form-data">
            <fieldset class="form-group">
                <div class="form-group">
                    <label for="clientName">What should we call you?</label>
                    <input type="text" name="client" id="clientName" class="form-control" placeholder="e.g. Red Fox"/>
                </div>
                <div class="form-group">
                    <label for="clientDescription">What do you want to talk about?</label>
                    <textarea rows="4" cols="50" name="description" id="clientDescription" class="form-control" style="resize: none;"></textarea>
                </div>
                <button type="submit" class="btn btn-primary buttonColor" name="button">Join Queue</button>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>