<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Begin a New Chat</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/js/app.js"></script>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/css/queue.css"></link>
</head>
<body>
<div class="container">
    <script>
        connectChange();
    </script>
    <div class="navbar navbar-fixed-top"
         style="height:40px; background-color: rgb(46,117,232); width:100%; color:white;">
        <p style="text-align:center; padding-top:11px;">
            <!-- TODO: Implement profile and Log Out buttons -->
            <span style="float:left; padding-left:11px; font-weight:800; "><a th:href="@{/edit-profile}"
                                                                              style="color:#FFF; font-size: 18px;">Profile</a></span>
            <span style="color:#FFF; font-size: 18px;">Select A Client To Begin A Chat Session</span>
            <span style="float:right; padding-right:11px; font-weight:800; "><a href="/logout"
                                                                                style="color:#FFF; font-size: 18px;">Log Out</a></span>
        </p>
    </div>
    <div class="row" style="padding-top: 80px;"/>
    <!-- Matched Table -->
    <table class="table table-striped">
        <colgroup span="4"></colgroup>
        <thead>
        <tr class="tableCellBlue">
            <th colspan="4" scope="colgroup" class="tableCellBlue" style="text-align:center;">Best Matching Clients</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Rank</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <!-- Display none if no results -->
        <tr th:if="${id_0_match == null}">
            <td colspan="4" scope="colgroup" style="text-align:center;">None</td>
        </tr>
        <tr th:if="${id_0_match != null}">
            <td th:text="${name_0_match}"></td>
            <td th:text="${description_0_match}"></td>
            <td>1</td>
            <td>
                <form th:action="@{/queue/staff/{id}/pop(id=${queueStaff.id})}" method="post"
                      enctype="multipart/form-data">
                    <fieldset style="text-align: right;">
                        <input type="hidden" name="clientid" th:value="${id_0_match}"/>
                        <button type="submit" name="button">Begin Chat</button>
                    </fieldset>
                </form>
            </td>
        </tr>
        <tr th:if="${id_1_match != null}">
            <td th:text="${name_1_match}"></td>
            <td th:text="${description_1_match}"></td>
            <td>2</td>
            <td>
                <form th:action="@{/queue/staff/{id}/pop(id=${queueStaff.id})}" method="post"
                      enctype="multipart/form-data">
                    <fieldset style="text-align: right;">
                        <input type="hidden" name="clientid" th:value="${id_1_match}"/>
                        <button type="submit" name="button">Begin Chat</button>
                    </fieldset>
                </form>
            </td>
        </tr>
        <tr th:if="${id_2_match != null}">
            <td th:text="${name_2_match}"></td>
            <td th:text="${description_2_match}"></td>
            <td>3</td>
            <td>
                <form th:action="@{/queue/staff/{id}/pop(id=${queueStaff.id})}" method="post"
                      enctype="multipart/form-data">
                    <fieldset style="text-align: right;">
                        <input type="hidden" name="clientid" th:value="${id_2_match}"/>
                        <button type="submit" name="button">Begin Chat</button>
                    </fieldset>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <!-- Longest Waiting Table -->
    <table class="table table-striped">
        <colgroup span="4"></colgroup>
        <thead>
        <tr class="tableCellBlue">
            <th colspan="4" scope="colgroup" class="tableCellBlue" style="text-align:center;">Longest Waiting Clients</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Time in Queue</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <!-- Display none if no results -->
        <tr th:if="${id_0 == null}">
            <td colspan="4" scope="colgroup" style="text-align:center;">None</td>
        </tr>
        <tr th:if="${id_0 != null}">
            <td th:text="${name_0}"></td>
            <td th:text="${description_0}"></td>
            <td th:text="${time_0}"></td>
            <td>
                <form th:action="@{/queue/staff/{id}/pop(id=${queueStaff.id})}" method="post"
                      enctype="multipart/form-data">
                    <fieldset style="text-align: right;">
                        <input type="hidden" name="clientid" th:value="${id_0}"/>
                        <button type="submit" name="button">Begin Chat</button>
                    </fieldset>
                </form>
            </td>
        </tr>
        <tr th:if="${id_1 != null}">
            <td th:text="${name_1}"></td>
            <td th:text="${description_1}"></td>
            <td th:text="${time_1}"></td>
            <td>
                <form th:action="@{/queue/staff/{id}/pop(id=${queueStaff.id})}" method="post"
                      enctype="multipart/form-data">
                    <fieldset style="text-align: right;">
                        <input type="hidden" name="clientid" th:value="${id_1}"/>
                        <button type="submit" name="button">Begin Chat</button>
                    </fieldset>
                </form>
            </td>
        </tr>
        <tr th:if="${id_2 != null}">
            <td th:text="${name_2}"></td>
            <td th:text="${description_2}"></td>
            <td th:text="${time_2}"></td>
            <td>
                <form th:action="@{/queue/staff/{id}/pop(id=${queueStaff.id})}" method="post"
                      enctype="multipart/form-data">
                    <fieldset style="text-align: right;">
                        <input type="hidden" name="clientid" th:value="${id_2}"/>
                        <button type="submit" name="button">Begin Chat</button>
                    </fieldset>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>