<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Queue for BlueBird</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/font-awesome.js"></script>
    <!-- https://use.fontawesome.com/fb27e4c0a5.js -->
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/css/queue.css"></link>

    <!-- Slider CSS & JS -->
    <link href="/bootstrap-slider/resources/css/full-slider.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- Full Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/img/forest.jpg')"></div>
            <div class="carousel-caption">
                <h2>You're not alone - 45% of Australians will experience a mental health condition at some point in their life</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/img/ocean.jpg')"></div>
            <div class="carousel-caption">
                <h2>Establishing a support network is one of the first steps to recovery</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/img/crowd-sunrise.jpg')"></div>
            <div class="carousel-caption">
                <h2>Wherever you are, there's always someone nearby ready to help</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

    <div style="height:160px;"></div>

</header>

<div class="container">
    <!-- Load Session id and call connect -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var sessionid = [[${sessionId}]];
        connect(sessionid);
        /*]]>*/
    </script>
    <div class="navbar navbar-fixed-top"
         style="height:40px; background-color: rgb(46,117,232); width:100%; color:white;">
        <p style="text-align:left; padding-left: 12px; padding-top:11px;">
            <a href="/queue/leave" style="color:#FFF; font-size: 18px;">Exit</a>
        </p>
    </div>
    <div class="navbar navbar-fixed-bottom"
         style="height:160px; background-color: rgb(46,117,232); width=100%; color:white;">
        <div style="height:20px;"/>
        <div id="queueProgress">
            <div id="queueBar">
                <div id="label" style="text-align:right"><i class="fa fa-map-marker" aria-hidden="true"
                                                            style="font-size:4em;"></i></div>
            </div>
        </div>
        <hr/>
        <p style="text-align:left; margin-left: 5%; font-size: 18px;">
            You Started Here...
            <span style="float:right; margin-right:5%">... And help is here</span>
        </p>
    </div>
</div>

<script src="/bootstrap-slider/resources/js/jquery.js"></script>
<script src="/bootstrap-slider/resources/js/bootstrap.min.js"></script>

<!-- Carousel Move Speed -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
</body>
</html>