<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Begin a New Chat</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../resources/static/css/registration.css" th:href="@{/css/registration.css}" />

</head>
<body>
<div class="container">
    <div class="navbar navbar-fixed-top"
         style="height:40px; background-color: rgb(46,117,232); width:100%; color:white;">
        <p style="text-align:center; padding-top:11px;">
            <span style="float:right; padding-right:11px; font-weight:800; "><a href="/logout" style="color:#FFF; font-size: 18px;">Log Out</a></span>
        </p>
    </div>
</div>

<div class="container">

    <div class="container" style="margin-top: 300px;">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create a Staff Member</h3>
                    </div>
                    <div class="panel-body">
                        <!--<p th:if="${loginError}" style="text-align: center; color: crimson;">Username or Password Incorrect</p>-->
                        <form th:action="@{/registration}" th:object="${userForm}" class="form-" method="POST">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" name="userName" class="form-control" placeholder="UserName"
                                           required="required" autofocus="autofocus" th:field="*{username}"/>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" class="form-control" placeholder="Password"
                                           value="" required="required" th:field="*{password}"/>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" class="form-control" placeholder="Confirm Password"
                                           value="" required="required" th:field="*{passwordConfirm}"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="password" class="form-control" placeholder="Email"
                                           value="" required="required" th:field="*{email}"/>
                                </div>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /container -->

</body>
</html>