<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Staff Login</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
            th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../resources/static/css/staff-login.css" th:href="@{/css/staff-login.css}" />
</head>
<body>

<div class="container" style="margin-top: 300px;">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Staff Login</h3>
                </div>
                <div class="panel-body">
                    <p th:if="${loginError}" style="text-align: center; color: crimson;">Username or Password Incorrect</p>
                    <form th:action="@{/staff-login}" class="form-signin" method="POST">
                        <fieldset>
                            <div class="form-group">
                                <input type="text" name="username" class="form-control" placeholder="Username"
                                       required="required" autofocus="autofocus"/>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="Password"
                                       value="" required="required"/>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>