<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Edit Profile</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../resources/static/css/view-staff-profile.css"
          th:href="@{/css/view-staff-profile.css}"/>

</head>
<body>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Staff Profile</h3>
        </div>
        <div class="panel-body">
            <form th:action="@{/finish}" th:object="${staff}" class="form-" method="POST">
                <strong class="text-justify">First Name:</strong><p class="text-justify" th:text="*{firstName}"></p>
                <br />
                <strong class="text-justify">Last Name:</strong><p class="text-justify" th:text="*{lastName}"></p>
                <br />
                <strong class="text-justify">Bio:</strong><p class="text-justify" th:text="*{bio}"></p>
            </form>
            <br />
            <a class="btn btn-sm btn-primary" th:href="@{/finish}" type="submit">Done</a>
        </div>
    </div>
</div>

</body>
</html>