<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
            th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link rel="stylesheet" type="text/css" href="../../resources/static/css/welcome.css" th:href="@{/css/welcome.css}" />

</head>
<body>

<div id="start_chat">
    <!--<a class="btn btn-large btn-info" th:href=" @{/queue/land}">-->
        <div class="round-button">
            <div class="round-button-circle">
                <a th:href="@{/queue/land}" class="round-button">Start Chatting Anonymously</a>
            </div>
        </div>
    <!--</a>-->
    <!--<a class="btn btn-large btn-info" th:href=" @{/queue/land}">Start Chatting Anonymously</a>-->
</div>

</body>
</html>